{% extends 'base.html' %}

{% block content-header %}
<div class="col-sm-8 mx-auto py-3">
    <h2 class="text-center"><i class="fas fa-comments"></i> 와인 리뷰</h2>
</div>
{% endblock %}

{% block content-wrapper %}
<div class="col-sm-9 mx-auto mb-5">
    <div class="p-3 mb-1 border" style="min-height: 500px">
        <h2 class="text-center pt-3">{{ post.title }}</h2>
        <div class="text-center">
            {{ post.rating }}점
        </div>
        <div class="pb-4">
            <a href="{% url 'wine:detail' post.wine.id %}"
                class="text-success">{{ post.wine.name }}</a>
            <span class="float-right">
                <a href="{% url 'review:index' %}?owner={{ post.owner.id }}">{{ post.owner }}</a>
                / {{ post.modify_dt|date:"Y-m-d" }}
            </span>
        </div>

        <div class="py-3 border-top">
            {% autoescape off %}
            {{ post.content }}
            {% endautoescape %}
        </div>
    </div>

    {% if user == post.owner %}
    <div class="my-3 text-right">
        <a href="{% url 'review:update' post.id %}" class="btn btn-primary">
            <i class="far fa-edit"></i> 수정</a>
        <a href="javascript:deletePost('{% url 'review:delete' post.id %}')" class="btn btn-danger">
            <i class="fas fa-trash"></i> 삭제</a>
    </div>
    {% endif %}
</div>

{% endblock content-wrapper %}

{% block script %}
<script>
    function deletePost(url) {
        if (!confirm('삭제할까요?'))
            return;
        location = url;
    }
</script>
{% endblock script %}
