{% extends 'base.html' %}

{% block style %}
<style>
    h4 a{
        color: black;
        text-decoration: none;
    }
    h4 a:hover {
        color: gray;
    }

    .dropdown-toggle, .dropdown-menu {
        width: 100%;
    }

    .dropdown-menu {
        height:200px;
        overflow-y: scroll;
    }

    #review_list div {
        border-top: 1px solid lightgray;
    }

    #review_list div:first-child {
        border-top: 0px none;
    }
</style>
{% endblock style %}

{% block content-header %}
<div class="col-sm-8 mx-auto py-2">
    <h2 class="text-center"><i class="fas fa-comments"></i> 와인 리뷰</h2>
</div>
{% endblock %}

{% block content-wrapper %}
<div class="col-sm-8 mx-auto" style="min-height: 500px">
    {% comment %} 와인 선택 {% endcomment %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            {% if selected_wine %} {{ selected_wine }}
            {% else %} 전체 보기
            {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for wine in reviewd_wines %}
                <a class="dropdown-item" href="?wine={{ wine.id }}">{{ wine.name }}</a>
            {% endfor %}
        </div>
    </div>
    {% comment %} 리뷰 리스트 {% endcomment %}
    <div class="p-3 border" id="review_list">
        {% autoescape off %}
        {% for post in posts %}
            <div class="py-2">
                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                <p>
                    <a href="{% url 'review:index' %}?wine={{ post.wine.id }}" class="text-success">{{ post.wine.name }}</a>
                    <span class="float-right">
                        <a href="?owner={{ post.owner.id }}">{{ post.owner }}</a>
                        / {{ post.modify_dt|date:"Y-m-d" }}
                    </span>
                </p>
                <p>{{ post.content|slice:50 }}</p>
            </div>
        {% endfor %}
        {% endautoescape %}
    </div>
    {% include 'common/pagination.html' with query=wine_query %}
    {% if user.is_active %}
        <div class="text-right m-3">
            <a href="{% url 'review:add' %}" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> 리뷰 작성</a>
        </div>
    {% endif %}
</div>

{% endblock %}
