{% extends 'base.html' %}
{% load static %}
{% block content-header %}
    <h1 class="text-center">지역별 와인</h1>
{% endblock  %}

{% block content-wrapper %}
<div class='row'>
    <div class="col-md-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">지역별 와인</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'wine:country:france' %}">프랑스</a></li>
            <li class="list-group-item"><a href="{% url 'wine:country:italy' %}">이탈리아</a></li>
            <li class="list-group-item"><a href="{% url 'wine:country:spain' %}">스페인</a></li>
            <li class="list-group-item"><a href="{% url 'wine:country:portugal' %}">포르투칼</a></li>
        </ul>
    </div>
    </div>
    <div class="col-md-10">
        <style>
        .jumbotron {
            background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F016%2F2014%2F12%2F24%2F20141224000561_1_99_20141224142503.jpg&type=sc960_832);
            color: white;
            background-size: cover;
            border-radius: 10px;
        }
    </style>

    <div class="container">
        <div class="jumbotron py-3 mt-0">
            <h1>프랑스의 와인</h1>
            <h2>프랑스 보르도의 와인은 1등급 와인들의 생산지입니다.</h2>
        </div>

        <div class="row mt-3">
            <div class="col-md-6" 'text-primary'>
                <img src="{% static 'images/wine1.jpg' %}" 'width=200px height=420' class="float-left" alt="Cinque Terre" >
            </div>
            <div class="col-md-6">
            <h5>
            프랑스에서 생산되는 와인. 프랑스는 농산물 중에서 와인이 차지하는 비율이 10%이며 전체 와인 중 레드와인이 약 60% 비율로 생산됩니다.</br>
            프랑스에서 재배되고 있는 포도 품종은 130종이며, 비교적 넓은 면적에서 재배되고 있는 대표적인 화이트 와인 품종으로 워니 블랑, 샤르도네, 소비뇽 블랑, 세미용, 뮈스카데, 슈냉 블랑, 리슬링이 있고, 레드와인 품종으로는 카리냥, 그르나슈 누아르, 메를로, 카베르네 소비뇽, 시라, 가메, 생소, 피노 누아 등이 있습니다.
            프랑스는 이처럼 포도 재배에 훌륭한 자연환경과 더불어 포도 질병 퇴치 노력, 다양한 포도품종의 개발, 블랜딩 기술의 향상, 새로운 와인 제조기술의 개발, 철저한 등급 관리의 노력으로 와인 재배 면적으로는 스페인과 이탈리아에 비해 작지만 최고의 품질을 자랑하는 세계 최고의 와인 강국으로 자리 잡게 되었습니다.
            </h5>
        </div>  
    </div>


<p style="margin-top:45px;">

<table class="table table-hover table-border">
<tbody>
<tr>
<td>
<img src="{% static 'images/france/Calmel & Joseph, La Madone.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깔멜 앤 조셉, 라 마돈느</br>
Calmel & Joseph, La Madone <button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : < 프랑스(France) > 서던 프랑스(Southern France) > 랑그독 루씨용(Languedoc Roussillon)</dd>
<dd>-알코올 : 14~15 % </dd>
<dd>-음용온도 : 16~18 ℃ </dd>
</dl>
<h6>
매혹적인 가넷색을 띠고 블랙 커런트, 블랙베리 등의 과일 향과 시나몬 등 향신료 향이 조화롭게 어우러진다. 입 안에서는 파워풀하면서 우아한 캐릭터를 보여주며 검붉은 과일과 향신료, 자잘한 타닌감이 느껴지고 기본 좋은 여운이 길게 남는 와인이다.
꼬르비에 아펠레이션에서 수확한 포도로 양조했으며 엄선한 포도의 줄기를 제거하고 두 품종을 함께 발효했다. 25℃ 온도에서 약 4주간 마세레이션과 알코올 발효를 거쳐 젖산발효도 진행했다. 발효가 끝난 와인은 2년 된 배럴에 담아 15개월간 숙성을 거쳐 출시한다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Calmel & Joseph, Les Terroirs Minervois.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깔멜 앤 조셉, 레 떼루아 미네르부아</br>
Calmel & Joseph, Les Terroirs Minervois<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : < 프랑스(France) > 서던 프랑스(Southern France) > 랑그독 루씨용(Languedoc Roussillon)</dd>
<dd>-알코올 : 14~15 % </dd>
<dd>-음용온도 :16~18 ℃ </dd>
</dl>
<h6>
체리 등의 붉은 과일 아로마가 풍부하게 나타나며 미네르부아 밭 인근에 자라고 있는 각종 허브, 덤불의 향과 다채로운 향신료 향이 오버랩된다. 입 안에서는 화사하고 진한 과일 풍미와 레드커런트처럼 새콤한 산미가 균형을 이루고 있으며 시나몬, 페퍼민트 등의 힌트가 여운으로 남는 와인이다.
모든 포도는 기계 없이 손으로 수확하며, 스테인리스 스틸 탱크에서 발효 후 효모 찌꺼기와 함께 1년간 숙성한다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Calmel & Joseph, Les Terroirs, Corbieres.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깔멜 앤 조셉, 레 떼루아 꼬르비에르</br>
Calmel & Joseph, Les Terroirs, Corbieres<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 프랑스(France) > 서던 프랑스(Southern France) > 랑그독 루씨용(Languedoc Roussillon)</dd>
<dd>-알코올 : 13~14 % </dd>
<dd>-음용온도 :16~18 ℃ </dd>
</dl>
<h6>
붉은 과일 아로마에 민트 향, 스파이시한 향이 더해지며 복합적인 향을 만들어낸다. 매끄럽게 다듬어진 타닌 맛을 즐길 수 있으며 그르나쉬 품종의 농밀한 과일 풍미가 입 안을 감싸고 시라 품종이 미들 팔렛을 채워주는 와인이다.
꼬르비에르의 일반적인 밭에 비해 고도가 높은 곳에서 재배한 포도를 사용해, 서늘한 기후의 스타일을 보여준다. 발효 후 콘크리트 탱크에서 6개월 숙성한다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Calmel & Joseph, Les Terroirs, Cotes du Roussillon.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깔멜 앤 조셉, 레 떼루아 꼬뜨 뒤 루시옹 빌라쥐</br>
Calmel & Joseph, Les Terroirs, Cotes du Roussillon Villages<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 프랑스(France) > 서던 프랑스(Southern France) > 랑그독 루씨용(Languedoc Roussillon)</dd>
<dd>-알코올 : 14~15 % </dd>
<dd>-음용온도 :16~18 ℃ </dd>
</dl>
<h6>
블랙베리 같은 검은 과일의 아로마가 진하게 피어오르고 시나몬, 코코아, 달콤한 향신료 향이 함께 나타난다. 입 안에서는 잘 녹아든 타닌의 부드러운 감촉을 즐길 수 있으며 블랙커런트, 후추, 시나몬, 감초, 민트 등 다양한 풍미가 긴 여운을 남기는 와인이다.
모든 포도는 기계 없이 손으로만 수확 해 한번 더 선별과정을 거쳐 양조한다. 발효 후 콘크리트 탱크에서 숙성해 병입한다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Calmel & Joseph, Villa Blanche Chardonnay.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깔멜 앤 조셉, 빌라 블랑쉬 샤르도네</br>
Calmel & Joseph, Villa Blanche Chardonnay<button type="button" class="btn btn-primary">White</button>
</dt>
<dd>-국가/생산지역 : 프랑스(France) > 서던 프랑스(Southern France) > 랑그독 루씨용(Languedoc Roussillon)</dd>
<dd>-알코올 : 13~14 % </dd>
<dd>-음용온도 :10~12 ℃ </dd>
</dl>
<h6>
밝은 황금색을 띠고 살구, 복숭아 등의 신선한 과일 아로마가 두드러지며 엘더베리, 아니스, 민트, 흰 꽃 등의 다채로운 향이 덧입혀진다. 입 안에서는 열대과일의 농축된 풍미와 신선한 산미, 은은한 오크 뉘앙스, 짭쪼롬한 여운이 길게 남는 와인이다.
포도가 상하지 않게 밤에 두 번에 걸쳐 수확하며, 양조 후 오크 배럴에서 3개월 숙성해 출시한다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Calmel & Joseph, Villa Blanche Grenache Rose.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깔멜 앤 조셉, 빌라 블랑쉬 그르나쉬 로제</br>
Calmel & Joseph, Villa Blanche Grenache Rose<button type="button" class="btn btn-info">Rose</button>
</dt>
<dd>-국가/생산지역 : 프랑스(France) > 서던 프랑스(Southern France) > 랑그독 루씨용(Languedoc Roussillon)</dd>
<dd>-알코올 : 12~13 % </dd>
<dd>-음용온도 :10~12 ℃ </dd>
</dl>
<h6>
밝고 연한 핑크색을 띤 드라이 로제 와인으로, 장미꽃, 흰 꽃, 아니스 열매 등 다채로운 아로마가 화사한 스타일이다. 입 안에서 복숭아, 살구 등 흰 과일의 프루티한 맛과 시트러스 같은 활기찬 산미의 균형을 즐길 수 있고 아몬트, 민트 등의 터치가 은은하게 여운으로 남는 와인이다.
포도가 상하지 않게 밤에 두 번에 걸쳐 수확하며, 낮은 온도에서 6시간 가량 짧게 마세라시옹 과정을 거쳐 색깔과 풍미를 추출한다. 효모 찌꺼기와 함께 스테인리스 스틸 탱크에서 숙성하며, 젖산발효는 거치지 않는다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Chateau Courac, Cotes du Rhone Villages Laudun Bla.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>샤또 꾸락, 꼬뜨 뒤 론 빌라주 라우던 블랑</br>
Chateau Courac, Cotes du Rhone Villages Laudun Blanc<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 프랑스(France) > 론(Rhone) > 꼬뜨 뒤 론(Cotes du Rhone)</dd>
<dd>-음용온도 :10~12 ℃ </dd>
</dl>
<h6>
황금빛 컬러와 열대과일의 향, 복합 미가 매력적이고 입 안을 감싸는 균형미와 오랫동안 남는 아로마의 여운이 아주 훌륭하다. 와인메이커는 끌라레뜨라는 전통적인 품종 블랜딩을 고수하고 있는데, 덕분에 풍성한 꽃향기와 미네랄리티를 가진 우아한 화이트 와인의 모습을 보여준다. 실크 같은 질감과 풍성한 느낌의 와인으로 무엇보다 신선함이 마무리까지 입안을 즐겁게 하는 와인이다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Chateau Courac, Cotes du Rhone Villages Laudun Rou.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>샤또 꾸락, 꼬뜨 뒤 론 빌라주 라우던 루즈</br>
Chateau Courac, Cotes du Rhone Villages Laudun Rouge<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 프랑스(France) > 론(Rhone) > 꼬뜨 뒤 론(Cotes du Rhone)</dd>
<dd>-음용온도 : 16~18 ℃ </dd>
</dl>
<h6>
강렬한 루비 컬러에 첫인상은 잘 익은 붉은 과일이 가득한 바구니의 향을 맡는 것처럼 직관적으로 느껴진다. 잔 안에서 시간이 지날수록 신선함과 훌륭한 구조감을 보여주며 그 속에서 감초의 노트도 느껴진다. 입 안에서는 실크같이 부드러운 타닌과 피니쉬까지 잘 익은 과일이 연상되는 아로마가 긴 여운을 남기는 와인이다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Chateau Courac, Cotes du Rhone.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>샤또 꾸락, 꼬뜨 뒤 론</br>
Chateau Courac, Cotes du Rhone<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 프랑스(France) > 론(Rhone) > 꼬뜨 뒤 론(Cotes du Rhone)</dd>
<dd>-음용온도 : 16~18 ℃ </dd>
</dl>
<h6>
짙은 루비색을 띠고 신선한 라즈베리와 체리 같은 붉은 과실의 아로마를 강렬하게 풍긴다. 입 안을 가득 채운 아름다운 아로마는 지속적으로 강렬하면서 생동감 넘치는 모습을 보여주는 와인이다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\france\Thomas Kim Desruets Brut.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>토마스 킴 데뤼에 브뤼</br>
Thomas Kim Desruets Brut<button type="button" class="btn btn-warning">Sparkling</button>
</dt>
<dd>-국가/생산지역 : 프랑스(France) > 샹파뉴(Champagne)</dd>
<dd>-알코올 : 12~13 % </dd>
<dd>-음용온도 : 6~8 ℃ </dd>
</dl>
<h6>
황금빛을 띠며 미세한 기포가 오랜 시간 동안 올라오고 푹 익은 사과향과 짙은 버터향, 고소한 견과류, 흰 꽃 계열의 아로마가 느껴진다. 적당한 도사지로 달콤한 꿀과 갓 구운 브리오슈 빵을 먹는듯한 고소함에 쌉싸르함이 더해져 계속해서 마시고 싶어지는 프리미엄 샴페인이다.
</h6>
</td>
</tr>
</div>

</tbody>
</table>

{% endblock content-wrapper %}