{% extends 'base.html' %}

{% load static %}

{% block content-header %}
<h1 class="text-center alert alert-secondary">Regional wine</h1>
{% endblock  %}

{% block content-wrapper %}
<div class="row my-5">
    {% for english, korean in area.items %}
    <div class="col-lg-3 col-md-6 my-3">
        <div class="card">
            <img class="card-img-top"
                src="{% static 'images/country/'|add:english|add:'.png' %}"
                alt="{{ korean }}">
            <div class="card-img-overlay">
                {% comment %} <a href="{% url 'wine:pairing:'|add:english %}" {% endcomment %}
                <a href="{% url 'wine:country:list'%}?area={{ english }}"
                    class="card-title font-weight-bold btn btn-light">
                    {{ korean }}의 와인
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content-wrapper %}