{% extends 'base.html' %}
{% load static %}
{% block content-header %}
    <h1 class="text-center">지역별 와인</h1>
{% endblock  %}

{% block content-wrapper %}
<div class='row'>
    <div class="col-md-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">지역별 와인</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'wine:country:france' %}">프랑스</a></li>
            <li class="list-group-item"><a href="{% url 'wine:country:italy' %}">이탈리아</a></li>
            <li class="list-group-item"><a href="{% url 'wine:country:spain' %}">스페인</a></li>
            <li class="list-group-item"><a href="{% url 'wine:country:portugal' %}">포르투칼</a></li>
        </ul>
    </div>
    </div>
        <style>
        .jumbotron {
            background-image: url("{% static 'images/italy2.jpg' %}");
            color: white;
            background-size: cover;
            border-radius: 10px;
        }
    </style>

    <div class="container">
        <div class="jumbotron py-3 mt-0">
            <h1>이탈리아의 와인</h1>
            <h2>모든 술의 안주는 피자!!, 그럼 피자의 원산지는?!!</h2>
        </div>

<div class="row mt-3">
    <div class="col-md-4" 'text-primary'>
        <img src="{% static 'images\wine3.jpg' %}" 'width=200 height=420' class="float-left" alt="Cinque Terre" >
    </div>
    <div class="col-md-8">
    <h5>
        이탈리아는 와인의 종주국으로 3000년의 와인 역사를 가지고 있고 1963년 제정된 법률에 의해 D.O.C.G->D.O.C->IGT->VDT로 등급이 분류됩니. 와인산지로는 토스카나와 피에몬테 지역이 가장 유명합니다.
     </br></br>   이탈리아의 와인 산지로 가장 유명한 곳은 피렌체를 중심으로 한 중서부의 토스카나 지방과 북서부 알프스 산맥 아래의 피에몬테 지방 두 곳입니다. 그 외에 시칠리아, 베네토, 롬바르디아, 캄파니아, 아브루죠, 마르게 지방 등이 유명합니다.

    </h5>
    </div>
</div>


<p style="margin-top:45px;">

<table class="table table-hover table-border">
<tbody>

<tr>
<td>
<img src="{% static 'images\italy\Allegrini, Lugana.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>알레그리니, 루가나</br>
Allegrini, Lugana<button type="button" class="btn btn-primary">White</button>
</dt>
<dd>-국가/생산지역 : 이탈리아(Italy) > 베네토(Veneto) > 베로나(Verona) > 루가나(Lugana)</dd>
<dd>-알코올 : 12~13 % </dd>
<dd>-음용온도 : 10~12 ℃ </dd>
</dl>
<h6>
연두빛이 비치는 연한 볏짚색을 띠고 우아한 꽃향과 함께 아몬드향이 은은하게 어우러진다. 입 안에서는 우아하면서도 신선한 풍미를 가지고 있는 와인이다.
</h6>
</td>
</tr>


<tr>
<td>
<img src="{% static 'images\italy\Cantina Colli Euganei, Prosecco Frizzante.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>칸티나 콜리 에우가네이, 프로세코 프리잔테</br>
Cantina Colli Euganei, Prosecco Frizzante <button type="button" class="btn btn-primary">White</button>
</dt>
<dd>-국가/생산지역 : 이탈리아(Italy)</dd>
<dd>-알코올 : 10~11 % </dd>
<dd>-음용온도 : 8~10 ℃ </dd>
</dl>
<h6>
밀짚 Yellow색상으로 지속적으로 이어지는 기포와 좋은 과실향이 조화로운 세미 스파클링이다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\italy\Cantine.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깐티네 포베로, 모스카토 다스티 '캄포 델 팔리오'</br>
Cantine Povero, Moscato d'Asti 'Campo del Palio'<button type="button" class="btn btn-primary">White</button>
</dt>
<dd>-국가/생산지역 : 스페인(Spain) > 까리레나(Carinena)</dd>
<dd>-알코올 : 5.5 % </dd>
<dd>-음용온도 : 6~8 ℃ </dd>
</dl>
<h6>
진한 황금 빛의 컬러를 띄며 섬세하고 오래 지속되는 기포가 인상적인 와인이다. 달콤하면서도 신선한 과실의 맛이 오랜 여운으로 남는다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\italy\Castellare, Poggio Al Merli.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>카스텔라레, 포지오 알 메리</br>
Castellare, Poggio Al Merli<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 스페인(Spain) > 까리레나(Carinena)</dd>
<dd>-알코올 : 13~14 % </dd>
<dd>-음용온도 :16~18 ℃ </dd>
</dl>
<h6>
none
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\italy\Collalbrigo, Prosecco DOCG Brut.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>콜라브리고, 프로세코 DOCG 브뤼</br>
Collalbrigo, Prosecco DOCG Brut<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 이탈리아(Italy) > 베네토(Veneto) > 꼬넬리아노(Conegliano)</dd>
<dd>-알코올 : 11~12 % </dd>
<dd>-음용온도 : 8~10 ℃ </dd>
</dl>
<h6>
콜라브리고 프로세코 DOCG 의 빈야드는 유네스코 세계 문화유산 보호지역(UNESCO World Heritage Site) 으로 지정된 코넬리아노 발도비아데네(Conegliano Valdobbi-adene) 내에 위치한다. 돌로미테스(Dolomites) 빙하의 이동으로 형성된 언덕에 위치하는 이 빈야드의 생산량은 극히 제한적이다.

토착효모를 사용한 첫 번째 발효가 이뤄지고 필터링 후 선별된 효모를 주입해 두 번째 발효를 진행한다. 이후 온도를 차갑게 낮추고 마이크로 필터링을 거친다.

콜라브리고의 모든 와인은 생산의 전 과정에서 동물성 인자를 배제(Do not use any protein-based products), 비건 친화적(Vegan-friendly) 으로 만들어진다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\italy\Cuvage, Acquesi Rosato.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>쿠바제, 아케시 로사토</br>
Cuvage, Acquesi Rosato<button type="button" class="btn btn-warning">Sparkling</button>
</dt>
<dd>-국가/생산지역 : 이탈리아(Italy) > 피에몬테(Piemonte)</dd>
<dd>-알코올 : 11~12 % </dd>
<dd>-음용온도 : 6~8 ℃ </dd>
</dl>
<h6>
핑크빛을 띠고 장미꽃의 아로마가 느껴진다. 입 안에서는 로제의 우아하고 상큼하며 깔끔한 맛에 기품있는 버블이 고급스러운 와인이다.

피에몬테 지역에서 재배된 바르베라 70%, 돌체토 30%로 만든 스파클링 와인으로 'Metodo Martinotti' 방식(1차 발효 후, 포도의 자연적 특성을 유지하며 낮은 온도에서 재발효시키는 방식)을 사용하였다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\italy\Frescobaldi, Alie Rose.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>프레스코발디, 알리에 로제</br>
Frescobaldi, Alie Rose<button type="button" class="btn btn-info">Rose</button>
</dt>
<dd>-국가/생산지역 : 이탈리아(Italy) > 토스카나(Toscana)</dd>
<dd>-알코올 : 12~13 %% </dd>
<dd>-음용온도 : 8~10 ℃ </dd>
</dl>
<h6>
그윽하고 섬세하며 복숭아 향과 장미향이 어우러진다. 입 안에서는 핑크 자몽의 시트러스 향이 부드럽게 채우는 와인이다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\italy\macal.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>마스카 델 타코, 로시 피노 네로 로사토</br>
Masca del Tacco, “ Ro’Si ” Pinot Nero Rosato<button type="button" class="btn btn-info">Rose</button>
</dt>
<dd>-국가/생산지역 : 이탈리아(Italy) > 뿔리아(Puglia)</dd>
<dd>-알코올 : 12~13 %% </dd>
<dd>-음용온도 : 8~10 ℃ </dd>
</dl>
<h6>
밟은 옅은 분홍색에 야생 딸기 젤리 수박과 같은 달콤한 향이 풍부하고 그 뒤로 향신료 광물 미네랄 향이 희미하게 돈다. 입 안에서는 부드럽고 쥬시하게 감싸고 신선하지만 우아한 과실향이 길게 여운으로 남는 와인이다.
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images\italy\Tinazzi, Primitivo.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>티나찌, 프리미티보</br>
Tinazzi, Primitivo<button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 이탈리아(Italy) > 뿔리아(Puglia)</dd>
<dd>-알코올 : 14~15 %% </dd>
<dd>-음용온도 : 16~18 ℃ </dd>
</dl>
<h6>
강렬한 붉은 빛을 띠고 체리와 푸룬 향이 풍미에서도 느껴진다. 입 안에서는 부드러운 타닌과 긴 피니시가 특징적인 와인이다.
</h6>
</td>
</tr>
</div>
</tbody>
</table>

{% endblock content-wrapper %}