{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block style %}
<style>
  #login_form {
    background-image: url("{% static 'images/registration/background.png' %}");
    background-size: cover;
    min-height: 700px
  }
</style>
{% endblock style %}

{% block content-header %}
<h1 class="text-center mb-4"><i class="fas fa-sign-in-alt"></i> 로그인</h1>
{% endblock content-header %}

{% block content-wrapper %}
<div class="row text-light" id="login_form">
  {% comment %}
    action 속성을 주면 쿼리 전달이 안된다.
    action 속성이 없으면 쿼리를 포함한 현재 URL이 그대로 전달된다.
  {% endcomment %}
  <form method="post" class="form col-sm-6 col-lg-5 col-xl-4 mx-auto mt-5">
    {% csrf_token %}
    {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-sign-in-alt"></i> 로그인
      </button>
  </form>
</div>
{% endblock content-wrapper %}
