{% extends 'base_wine.html' %}

{% load bootstrap4 %}
{% load static %}

{% block style %}
<style>
    a:hover {
        text-decoration: none;
    }
</style>
{% endblock style %}

{% block content-header %}
<h1 class="text-center mb-3">와인 검색</h1>
{% endblock content-header %}

{% block content %}
<div class="py-3">
    <form action="{% url 'wine:search:index' %}" class="rounded border p-3">
        {% bootstrap_form form %}
        <div class="text-right">
            <button type="reset" class="btn btn-outline-warning btn-md" >
                <i class="fas fa-undo-alt"></i> 초기화
            </button>
            <button type="submit" class="btn btn-primary btn-md" >
                <i class="fas fa-search"></i> 검색
            </button>
        </div>
    </form>
    {% if wine_list %}
    <div class="mt-5">
        <h2 class="row justify-content-center bg-dark text-light rounded p-3 mt-5">검색 결과</h2>
        {% for wine in wine_list %}
            <div class="py-4 border-bottom">
                <a href="{% url 'wine:detail' wine.id %}" class="d-flex">
                    <img src="{% static 'images/'|add:wine.area.area|add:'/'|add:wine.name|add:'.png' %}" style="width:180px; height:300px"/>
                    <div class="text-dark px-3 d-flex flex-column flex-grow-1">
                        <h5 class="mb-3 d-flex">
                            <span class="mr-auto">{{wine.name}}</span>
                            {% include 'common/wine_type_tag.html' %}
                        </h5>
                        <p>지역 : {{wine.area}}</p>
                        <p>어울리는 요리 : {{wine.food}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="mt-5">
        <h2 class="row justify-content-center bg-dark text-light rounded p-3 mt-5">검색 결과가 없습니다.</h2>
    </div>
    {% endif %}

    {% comment %} 페이지네이션 {% endcomment %}
    {% include 'common/pagination.html' with page_obj=wine_list query=wine_query %}
</div>
{% endblock content %}

{% comment %}
    이렇게 반복문으로 필드를 하나씩 구현할 수 있는듯 (https://docs.djangoproject.com/en/3.2/topics/forms/)
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endcomment %}
