{% extends 'base_wine.html' %}

{% block content-header %}
  <h1 class="text-center">와인 검색</h1>
{% endblock content-header %}

{% block content %}
<div>
    <div class="col-sm-8 mx-auto py-5">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
</div>
{% endblock content %}
