{% extends 'base_wine3.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content-header %}
  <h1 class="text-center mb-3">오프라인 와인 상점</h1>
{% endblock content-header %}

{% block content %}
<div class="py-3">
    <form action="." class="rounded border p-3">
        {% bootstrap_form form %}
        <div class="text-right">
            <button type="reset" class="btn btn-outline-warning btn-md" >
                <i class="fas fa-undo-alt"></i> 초기화
            </button>
            <button type="submit" class="btn btn-primary btn-md" >
                <i class="fas fa-search"></i> 검색
            </button>
        </div>
    </form>
    {% if shop_list %}
        <h2 class="mt-4">오프라인 상점 리스트</h2>
        {% for shop in shop_list %}
            <a href="{% url 'purchases:detail' shop.id %}" class="text-dark d-flex py-4 border-bottom">
                <div class="d-flex flex-column">
                    <span><h3>{{shop.name}}</h3></span>
                    <ul class="list-group list-group-horizontal mt-5 ml-3">
                        <li class="list-group-item">{{shop.name}}</li>
                        <li class="list-group-item">{{shop.area}}</li>
                        <li class="list-group-item">{{shop.address}}</li>
                    </ul>
                </div>
            </a>
        {% endfor %}
    {% endif %}

    {% include 'common/pagination.html' with page_obj=shop_list query=shop_query %}
</div>
{% endblock content %}
