{% extends 'base_wine3.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content-header %}
  <h1 class="text-center mb-3">오프라인 와인 상점</h1>
{% endblock content-header %}

{% block content %}
<div class="py-3">
    <form action="." class="rounded border p-3">
        {% bootstrap_form form %}
        <div class="text-right">
            <button type="reset" class="btn btn-outline-warning btn-md" >
                <i class="fas fa-undo-alt"></i> 초기화
            </button>
            <button type="submit" class="btn btn-primary btn-md" >
                <i class="fas fa-search"></i> 검색
            </button>
        </div>
    </form>
    {% if shop_list %}
        <h2 class="mt-4">오프라인 상점 리스트</h2>
        {% for shop in shop_list %}
            <a href="{% url 'purchases:detail' shop.id %}" class="text-dark d-flex py-4 border-bottom">
                <div class="d-flex flex-column">
                    <span><h3>{{shop.name}}</h3></span>
                    <ul class="list-group list-group-horizontal mt-5 ml-3">
                        <li class="list-group-item">{{shop.name}}</li>
                        <li class="list-group-item">{{shop.area}}</li>
                        <li class="list-group-item">{{shop.address}}</li>
                    </ul>
                </div>
            </a>
        {% endfor %}
    {% endif %}

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center my-4">
        <!-- 이전페이지 -->
        {% if shop_list.has_previous %}
        <li class="page-item">
            {% if shop_query %}
                <a class="page-link" href="?page={{ shop_list.previous_page_number }}&{{ shop_query }}">이전</a>
            {% else %}
                <a class="page-link" href="?page={{ shop_list.previous_page_number }}">이전</a>
            {% endif %}
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in shop_list.paginator.page_range %}
            {% if page_number == shop_list.number %}
            <li class="page-item active" aria-current="page">
                {% if shop_query %}
                    <a class="page-link" href="?page={{ page_number }}&{{ shop_query }}">{{ page_number }}</a>
                {% else %}
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            </li>
            {% else %}
            <li class="page-item">
                {% if shop_query %}
                    <a class="page-link" href="?page={{ page_number }}&{{ shop_query }}">{{ page_number }}</a>
                {% else %}
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if shop_list.has_next %}
        <li class="page-item">
            {% if shop_query %}
                <a class="page-link" href="?page={{ shop_list.next_page_number }}&{{ shop_query }}">다음</a>
            {% else %}
                <a class="page-link" href="?page={{ shop_list.next_page_number }}">다음</a>
            {% endif %}
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock content %}
