{% extends 'base.html' %}

{% load static %}

{% block content-header %}
    <h1 class="text-center alert alert-secondary"><i class="fas fa-glass-cheers"></i> Pairing food</h1>
{% endblock  %}

{% block content-wrapper %}

<div class="m-5 row justify-content-around">
    <div class="col-lg-5 py-3">
        <div class="card">
            <img class="card-img-top mx-auto rounded"
                src="{% static 'images/main1.png' %}"
                alt="음식별 어울리는 와인">
            <div class="card-body">
                <div class="mx-auto text-center">
                    <h2 class="card-title font-weight-bold p-3"><i class="fas fa-wine-glass-alt"></i> 음식별 어울리는 와인</h2>
                    <a href="{% url 'wine:pairing:index' %}" class="btn btn-outline-dark">바로가기 </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-5 py-3">
        <div class="card">
            <img class="card-img-top mx-auto rounded"
                src="{% static 'images/winerecipe.png' %}"
                alt="와인으로 만드는 요리">
            <div class="card-body">
                <div class="mx-auto text-center">
                    <h2 class="card-title font-weight-bold p-3"><i class="fas fa-utensils"></i> 와인으로 만드는 요리</h2>
                    <a href="{% url 'wine:pairing:cook' %}" class="btn btn-outline-dark">바로가기</a>
                </div>
            </div>
        </div>
    </div>
</div>

    

{% endblock content-wrapper %}