{% extends 'base.html' %}
{% load static %}
{% block content-header %}
    <h1 class="text-center">와인과 어울리는 음식</h1>
{% endblock  %}

{% block content-wrapper %}

        <style>
        .jumbotron {
            background-color: gray;
            color: white;
            background-size: cover;
            border-radius: 10px;
			text : bold;
        }
    </style>

    <div class="container">
        <div class="jumbotron py-3 mt-0">
            <h1>닭요리와 어울리는 와인</h1>
            <h2></h2>
        </div>

<p style="margin-top:45px;">

<table class="table table-hover table-border">
<tbody>
<tr>
<td>
<img src="{% static 'images/italy/Cuvage, Acquesi Rosato.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>쿠바제, 아케시 로사토</br>
Cuvage, Acquesi Rosato <button type="button" class="btn btn-warning">Sparkling</button>
</dt>
<dd>-국가/생산지역 : 이탈리아 > 피에몬테</dd>
<dd>-주요 품종 : 바르베라 70%, 돌체토 30%</dd>
</dl>
<h6>
장미꽃 향의 아로마가 은은하게 느껴지는 로제 와인! <br>
로제의 우아하고 상큼하며 기품있는 버블이 고급스럽게 느껴지는 와인입니다.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/10/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images/france/Calmel & Joseph, Les Terroirs Minervois.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깔멜 앤 조셉, 레 떼루아 미네르부아</br>
Calmel & Joseph, Les Terroirs Minervois <button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 프랑스 > 서던 프랑스 > 랑그독 루씨용/dd>
<dd>-주요 품종 : 시라/쉬라즈, 그르나슈, 까리냥/dd>
</dl>
<h6>
과일 아로마가 풍부하게 느껴지는 향! <br>
입 안에서는 화사하고 진한 과일 풍미와 레드커런트처럼 새콤한 산미가 균형을 이루고 있으며 시나몬, 페퍼민트 등의 힌트가 여운으로 남는 와인입니다.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/31/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>



</tbody>
</table>



{% endblock content-wrapper %}