{% extends 'base.html' %}
{% load static %}
{% block content-header %}
    <h1 class="text-center">와인과 어울리는 음식</h1>
{% endblock  %}

{% block content-wrapper %}

        <style>
        .jumbotron {
            background-color: gray;
            color: white;
            background-size: cover;
            border-radius: 10px;
			text : bold;
        }
    </style>

    <div class="container">
        <div class="jumbotron py-3 mt-0">
            <h1>소고기와 어울리는 와인</h1>
            <h2></h2>
        </div>

<p style="margin-top:45px;">

<table class="table table-hover table-border">
<tbody>
<tr>
<td>
<img src="{% static 'images/portugal/Burmester, Tavedo Red.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>버메스터 타베도 레드</br>
Burmester, Tavedo Red <button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 포르투갈 > 도우루</dd>
<dd>-주요 품종 : 투리가 프란카, 틴타 로리즈, 틴타 까오, 틴타 바로카, 투리가 나시오날</dd>
</dl>
<h6>
포르투갈 깊은 역사를 가진 버메스터의 레드 와인! <br>
달콤한 라즈베리, 블랙 체리등의 붉은 과실류의 아로마와 초콜릿 풍미로 스테이크와 즐겨보세요.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/39/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images/france/Chateau Courac, Cotes du Rhone Villages Laudun Rou.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>샤또 꾸락, 꼬뜨 뒤론 빌라주 라우던 루즈</br>
Chateau Courac, Cotes du Rhone Villages Laudun Rouge <button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 프랑스 > 론 > 꼬뜨 뒤 론/dd>
<dd>-주요 품종 : 시라/쉬라즈, 그르나슈, 무르베드르, 쿠누아즈</dd>
</dl>
<h6>
프랑스 론 밸리의 시그니처 와인! <br>
잘 익은 붉은 과일향이 가득한 프랑스 와인으로 긴 여운을 남기는 아로마향으로 고기의 풍미를 살리는 와인입니다.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/39/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>


<tr>
<td>
<img src="{% static 'images/italy/Frescobaldi, Pomino Pinot Nero.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>프레스코발디, 포미노 피노 네로</br>
Frescobaldi, Pomino Pinot Nero <button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 이탈리아 > 토스카나/dd>
<dd>-주요 품종 : 피노 누아</dd>
</dl>
<h6>
이탈리아 토스카나의 햇살은 담은 와인 ! <br>
까시스와 잘 익은 체리, 초콜렛 향이 퍼지며 입 안에서는 레드 베리 향과 감초, 지중해 허브가 조화를 이루며 긴 피니쉬가 특징적인 와인입니다.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/3/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images/italy/Frescobaldi, Pomino Pinot Nero.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>콜라브리고, 프로세고 DOCG 브뤼</br>
Collalbrigo, Prosecco DOCG Brut <button type="button" class="btn btn-warning">Sparkling</button>
</dt>
<dd>-국가/생산지역 : 이탈리아 > 베네토 > 꼬넬리아노/dd>
<dd>-주요 품종 : 글레라</dd>
</dl>
<h6>
비건 친화적으로 생산된 스파클링 와인 ! <br>
유네스코 세계 문화유산 보호지역으로 지정된 코넬리아노에서 생산된 와인으로 산뜻한 스파클링 와인입니다.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/5/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>

<tr>
<td>
<img src="{% static 'images/france/Calmel & Joseph, La Madone.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>깔멜 앤 조셉, 라 마돈느</br>
Calmel & Joseph, La Madone <button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 프랑스 > 서던 프랑스 > 랑그독 루씨용/dd>
<dd>-주요 품종 : 그르나슈, 시라/쉬라즈</dd>
</dl>
<h6>
매혹적인 가넷색의 레드와인 ! <br>
입 안에서 퍼지는 우아하고 검붉은 과일과 향신료의 향이 느껴지는 와인으로 기본 좋은 여운이 길게 이어집니다.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/28/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>


<tr>
<td>
<img src="{% static 'images/spain/Pago Ayles, Cuesta del Herrero.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>파고 아일레스, 꾸에스따 델 에레로</br>
Pago Ayles, Cuesta del Herrero <button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 스페인 /dd>
<dd>-주요 품종 : 가르나차, 템프라니요, 카베르네 소비뇽, 메를로</dd>
</dl>
<h6>
신선한 과실향과 스파이시 향이 어우러진 레드와인! <br>
입 안에서 잘 익은 과육의 맛과 우아하고 적당한 타닌과 중간 이상의 바디감으로 스테이크와 잘 맞는 와인입니다.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/17/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>


<tr>
<td>
<img src="{% static 'images/spain/Bodegas San Valero, Origium Garnacha.png' %}" 'width=200px height=300' class="float-left" alt="Cinque Terre" >
</td>
<td>
<dl>
<dt>보데가스 산 발레로, 오리지움 로블레</br>
Bodegas San Valero, Origium Garnacha <button type="button" class="btn btn-danger">Red</button>
</dt>
<dd>-국가/생산지역 : 스페인 > 까리레나 /dd>
<dd>-주요 품종 : 가르나차, 시라/쉬라즈</dd>
</dl>
<h6>
오크향이 진한 레드와인 ! <br>
잘 익은 짙은 붉은 과실향이 느껴지는 강인한 느낌을 지닌 와인입니다.
<br>
<br>
<a href="http://127.0.0.1:8000/wine/detail/18/" class="alert-link" target="_blank">와인 정보 보기</a>
</h6>
</td>
</tr>

</tbody>
</table>



{% endblock content-wrapper %}