{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VINO</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% block style %}{% endblock %}
    </head>
    <body class="hold-transition">
        <div class="wrapper">
            {% include "menu.html" %}
            <div id="nav-spacer" style="height:80px"></div>
            <div class="content-header">
                <div class="container-fluid">
                    {% block content-header %}{% endblock %}
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    {% block content-wrapper %}{% endblock %}
                </div>
            </div>
            {% include "footer.html" %}
        </div>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        {% block script %}{% endblock %}
    </body>
</html>
