{% load static %}

<footer style="background: #222; color: #777; font-size: .75rem;">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="mb-4 mb-md-0 text-center">
        <img src='{% static 'images/logo/logo.png' %}' />
        <div class="d-flex justify-content-around mb-3">
          <a href="#" class="text-secondary">채용안내</a>
          <a href="#" class="text-secondary">이용약관</a>
          <a href="#" class="text-secondary">개인정보처리방침</a>
          <a href="#" class="text-secondary">오시는 길</a>
        </div>
        <p class="text-secondary">
          팀 : 3조<br>
          주소 : 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)<br>
          사업자등록번호 : 111-22-33333<br>
          통신판매신고번호 : 제2021-서울강남-00001호
        </p>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <strong>
      Copyright &copy; 2021 <a href="{% url 'home' %}" class="text-info">VINO</a>. 
    </strong> 
    All rights reserved.
  </div>
</footer>
