{% load static %}

<footer style="background: #222; color: #777; font-size: .75rem;">
  <div class="container pb-2">
    <div class="row justify-content-center">
      <div class="mb-md-0 text-center">
        <img src='{% static 'images/logo/logo.png' %}' />
        <div class="d-flex justify-content-around mb-3">
          <span type="button" data-bs-toggle="modal" data-bs-target="#termsModal">
            이용약관
          </span>
          <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="termsModalLabel">이용약관</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% include 'footer/terms.html' %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <span type="button" data-bs-toggle="modal" data-bs-target="#privacyModal">
            개인정보처리방침
          </span>
          <div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="privacyModalLabel">개인정보처리방침</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% include 'footer/privacy_policy.html' %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-secondary">
          팀 : 3조<br>
          주소 : 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)<br>
          사업자등록번호 : 111-22-33333<br>
          통신판매신고번호 : 제2021-서울강남-00001호
        </p>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <strong>
      Copyright &copy; 2021 <a href="{% url 'home' %}" class="text-info">VINO</a>. 
    </strong> 
    All rights reserved.
  </div>
</footer>
