{% extends 'base.html' %}

{% block content-header %}
    <h1>기본 템플릿입니다</h1>
{% endblock  %}

{% block content %}
    <h2>이곳에 content를 작성</h2>
{% endblock  %}

{% block left-aside %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link">
        <span class="brand-text font-weight-light">VINO</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" 
                data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>Bookmark <span class="right badge badge-danger">
                           New</span></p>
                    </a>
                </li>
                {% comment %} <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>App</p>
                    </a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a href="#"  class="nav-link">
                        <i class="nav-icon fas fa-blog"></i>
                        <p>Blog <span class="right badge badge-danger">
                                New</span></p>
                    </a>
                </li>


            </ul>
        </nav>
    </div>
</aside>
{% endblock %}