<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-sm-100">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="{% url 'wine:search:index' %}" class="nav-link align-middle px-0">
                <i class="nav-icon fas fa-search"></i> 와인 검색</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'wine:country:index' %}"  class="nav-link align-middle px-0">
                <i class="nav-icon fas fa-map-marker-alt"></i> 생산 지역 별 와인</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'wiki:index' %}"  class="nav-link align-middle px-0">
                <i class="nav-icon fas fa-book-open"></i> 와인 관련 지식</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'wine:news:index' %}"  class="nav-link align-middle px-0">
                <i class="nav-icon fas fa-newspaper"></i> 와인 / 주류 관련 기사</a>
        </li>
    </ul>
</div>
