{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top py-0">
  <div class="container-fluid" style="height:50px">
    <a class="navbar-brand h-100 py-0" href="/">
        <img src="{% static 'images/logo/logo.png'%}" class="h-100" alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-light rounded" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item text-center">
          <a href="{% url 'wine:search:index' %}" class="nav-link"><i class="fas fa-glass-cheers"></i> 와인 정보</a>
        </li>
        <li class="nav-item text-center">
          <a href="{% url 'wine:country:main' %}" class="nav-link"><i class="fas fa-globe-europe"></i> 지역 별 와인</a>
        </li>
        <li class="nav-item text-center">
          <a href="{% url 'wine:pairing:main' %}" class="nav-link"><i class="fas fa-utensils"></i> 음식</a>
        </li>
        <li class="nav-item text-center">
          <a href="{% url 'review:index' %}" class="nav-link"><i class="fas fa-clipboard-list"></i> 리뷰</a>
        </li>
        <li class="nav-item text-center">
          <a href="{% url 'purchases:store' %}" class="nav-link"><i class="fas fa-store"></i> 구매처</a>
        </li>
        {% if user.is_active %}
          <li class="nav-item text-center">
            <a href="{% url 'chat:room' 'room' %}" class="nav-link"><i class="fas fa-comments"></i> 채팅</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if user.is_active %}
        <!-- 로그인 상태 -->
        <li class="nav-item text-center d-inline-block">
            <a class="nav-link" href="{% url 'password_change' %}">
                <i class="fas fa-user"></i> {{user.username}}</a>
        </li>
        <li class="nav-item text-center d-inline-block">
            <a class="nav-link" href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i> 로그아웃</a>
        </li>
        {% else %}
        <!-- 로그아웃 상태 -->
        <li class="nav-item text-center d-inline-block">
            <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i> 로그인</a>
        </li>
        <li class="nav-item text-center d-inline-block">
            <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> 회원가입</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
